body {
  margin: 0 auto;
  font-family: "Merriweather", serif;
  font-size: 14px;
  letter-spacing: 0.1em;
  font-weight: 400;
  list-style-type: none;
  background-color: #f0f0f0;
  color: #2c3e50;
}
/* 共通 */
.reverse {
  flex-direction: row-reverse;
}

.leaf {
  margin: 50px 0;
}

h1 {
  font-size: 48px;
  color: #8a2be2;
}

h2 {
  font-size: 30px;
  color: #8a2be2;
}

h3 {
  font-size: 24px;
}

.wrap {
  width: 948px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: #ffffff;
}
/* /header */
header {
  height: 90px;
  background-color: rgba(44, 62, 80, 0.9);
  z-index: 20;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.header-wrap {
  display: flex;
  justify-content: space-between;
  width: 948px;
  margin: 0 auto;
}

.logo img {
  height: 90px;
  width: 100px;
}

nav ul {
  display: flex;
  list-style-type: none;
  margin-top: 35px;
  font-size: 16px;
}

nav li {
  padding: 0 10px;
}

nav li a:hover {
  color: #f27f0b;
  border-bottom: 1px solid #f27f0b;
  padding-bottom: 10px;
  transition: 0.25s;
}
/* anime */
.anime-title {
  text-align: center;
  margin: 80px 0 20px 0;
}

/* spot */
.spot {
  text-align: center;
}

.spot-imgs {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  height: 30vh;
  width: 100%;
}

.spot img {
  object-fit: cover;
  height: 30vh;
  width: 460px;
}

.spot p {
  padding: 15px;
  width: 65%;
  margin: 0 auto;
}

.event {
  margin-top: 50px;
}
/* info */
.anime-info {
  margin-top: 50px;
  text-align: center;
}

.anime-content {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.anime-img img {
  height: 50vh;
  width: 474px;
  object-fit: cover;
}

.anime-textarea {
  width: 50%;
}

.anime-textarea p {
  margin: 0 auto;
  height: 100%;
  width: 100%;
  line-height: 50px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.4);
  display: flex;
  align-items: center;
}
